[submodule "libraries/libcrc"]
	path = libraries/libcrc
	url = https://github.com/lammertb/libcrc.git
[submodule "libraries/micro-ecc"]
	path = libraries/micro-ecc
	url = https://github.com/kmackay/micro-ecc.git
[submodule "libraries/SHA256_embedded"]
	path = libraries/SHA256_embedded
	url = https://github.com/MinfonTsai/SHA256_embedded.git
